var nextSessionStarts = "{% if nextSessions is not empty %}{{ firstNextSession }}{% endif %}";
var date = new Date(parseInt(nextSessionStarts));
var secondsToEvent = {% if secondsToEvent is not null %}{{ secondsToEvent }}{% else %}0{% endif %};
if (secondsToEvent) {
    var rand = 1000 * Math.floor((Math.random() * 60));
    var date = new Date().getTime() + secondsToEvent + rand;
    date = new Date(date);
}

if (date < new Date()) {
    location.reload();
}

$("#directo-{{ id }}").html(background);
$("#warning").countdown(date, function (event) {
    var days = event.strftime('%D');
    var hours = event.strftime('%H');
    var minutes = event.strftime('%M');
    var seconds = event.strftime('%S');
    {#$(this).text(event.strftime('%D %H:%M:%S'));#}
    var text = "<span class='countdown days'>" +  event.strftime('%D') + "</span>" +  "<span class='countdown hours'>" + event.strftime('%H') + "</span>" + "<span class='countdown minutes'>" +  event.strftime('%M') + "</span>" + "<span class='countdown seconds'>" + event.strftime('%S') + "</span>";
    $(this).html(text);
}).on('finish.countdown', function (event) {
    location.reload();
});